/*Variables*/

:root{
    --neutral900: #062630;
    --neutral700: #385159;
    --neutral200: #E6E1DF;
    --neutral100: #FAF5F3;
    --neutral0: #ffffff;

    --light-salmon500: #FEA36F;
    --light-salmon100: #FFE2D1;
    --light-salmon50: #FFF5EF;

    --gradient1: #FF9A60;
    --gradient2: #062630;

    --gradient3: #FFE2D1;
    --gradient4: #FFF5EF;

    --large-desktop: 1440px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Mobile*/

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}

/*Tablet*/

@media (min-width:768px) {
    .container{
        grid-template-columns: repeat(8, 1fr);
        gap: 1.5rem;
    }
}

/*Desktop*/

@media (min-width: 1024px) {
    .container{
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
    }
}