/*Variables*/

:root{
    --neutral900: #062630;
    --neutral700: #385159;
    --neutral200: #E6E1DF;
    --neutral100: #FAF5F3;
    --neutral0: #ffffff;

    --light-salmon500: #FEA36F;
    --light-salmon100: #FFE2D1;
    --light-salmon50: #FFF5EF;

    --gradient1: #FF9A60;
    --gradient2: #062630;

    --gradient3: #FFE2D1;
    --gradient4: #FFF5EF;
}

