/*Variables*/

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Martian";
  src: url("./assets/fonts/martian-mono/MartianMono-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian";
  src: url("./assets/fonts/martian-mono/MartianMono-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --neutral900: #062630;
  --neutral700: #385159;
  --neutral200: #e6e1df;
  --neutral100: #faf5f3;
  --neutral0: #ffffff;

  --light-salmon500: #fea36f;
  --light-salmon100: #ffe2d1;
  --light-salmon50: #fff5ef;

  --gradient1: #ff9a60;
  --gradient2: #062630;

  --gradient3: #ffe2d1;
  --gradient4: #fff5ef;

  --large-desktop: 1440px;

  --font-family-1: "Inter", sans-serif;
  --font-family-2: "Martian", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral100);
}

header,
main {
  padding: 2rem 1rem 1rem 1rem;
}

section,
.hero {
  margin-bottom: 5rem;
}

.btn {
  width: 343px;
  height: 64px;
  background-color: transparent;
  outline: none;
  border-radius: 10px;
  font-family: var(--font-family-2);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0 2rem 0;
  text-transform: uppercase;
}

/*Mobile*/

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/*Header*/

header {
  grid-column: 1/-1;
  grid-row: 1;
}

.logo {
  margin-bottom: 1rem;
}

.title {
  font-size: 36px;
  font-family: var(--font-family-2);
  margin: 2rem 0 2rem 0;
}

.intro-paragraph {
  font-size: 20px;
  font-family: var(--font-family-1);
  color: var(--neutral700);
}

.review-membership-btn {
  border: 2px solid var(--neutral900);
  color: var(--neutral900);
}

.club-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.members-img {
  height: 40px;
}

.joined-div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 1rem;
}

.stars-list {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.developers-joined-paragraph {
  color: var(--neutral700);
  font-family: var(--font-family-2);
  font-size: 13px;
}

/*Main*/

main {
  grid-column: 1/-1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.hero {
  height: 384px;
  background-image: url(/src/assets/images/image-hero-mobile.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  grid-column: 1/-1;
  grid-row: 1;
}

/*Features section*/

.features-section {
  grid-column: 1/-1;
  grid-row: 2;
}

.features-title {
  font-size: 32px;
  font-family: var(--font-family-2);
  margin-bottom: 2rem;
}

.features-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-list {
  list-style: none;
  margin-bottom: 2rem;
}

.features-item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}

.check-img {
  margin-right: 1rem;
}

.features-paragraph {
  font-family: var(--font-family-1);
  font-size: 20px;
  color: var(--neutral700);
}

.features-img-div {
  height: 318.5px;
  background-image: url(/src/assets/images/image-read-together-mobile.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

/*Info Section*/

.info-section {
  grid-column: 1/-1;
  grid-row: 3;
}

.info-title {
  font-family: var(--font-family-2);
  font-size: 32px;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}

.info-paragraph {
  font-family: var(--font-family-1);
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: var(--neutral700);
}

.info-img {
  height: 318.5px;
  background-image: url(/src/assets/images/image-not-average-mobile.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

/*Journey section*/

.journey-section {
  grid-column: 1/-1;
  grid-row: 4;
}

.journey-title {
  font-family: var(--font-family-2);
  font-size: 32px;
  line-height: 2.7rem;
}

.journey-steps-list {
  list-style: none;
}

.journey-steps-item {
  margin: 2rem 0 2rem 0;
}

.steps-number {
  width: 32px;
  height: 32px;
  border: solid 2px var(--neutral900);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-2);
  font-weight: 700;
  margin-bottom: 2rem;
}

.journey-steps-paragraph {
  font-family: var(--font-family-2);
  font-size: 16px;
  font-weight: 700;
}

/*Membership section*/

.membership-section {
  grid-column: 1/ -1;
  grid-row: 5;
}

.membership-title {
  font-family: var(--font-family-2);
  font-size: 30px;
}

.membership-option-list,
.option-features-list {
  list-style: none;
}

.membership-option-list {
  margin-top: 4rem;
}

.membership-option-item {
  border: 1px solid var(--neutral200);
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.option-title {
  font-family: var(--font-family-2);
  font-size: 24px;
  margin-bottom: 2rem;
}

.option-payment {
  font-family: var(--font-family-2);
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.payment-monthly {
  font-size: 18px;
  font-weight: 400;
  color: var(--neutral700);
}

hr {
  margin: 2rem 0 2rem 0;
}

.option-features-list {
  margin: 2rem 0 2rem 0;
}

.option-feature-item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}

.option-feature-check {
  height: 24px;
  width: 24px;
  background-image: url(/src/assets/images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  outline: none;
}

.option-feature-paragraph {
  font-family: var(--font-family-1);
  font-size: 20px;
  color: var(--neutral700);
  margin-left: 1rem;
}

.suscribe-btn {
  width: 292px;
  height: 61px;
  border: 2px solid var(--neutral900);
  background-color: var(--light-salmon50);
  font-family: var(--font-family-2);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
}

/*Testimonal section*/

.testimonials-section {
  grid-column: 1/ -1;
  grid-row: 6;
}

.testimonial-paragraph {
  font-family: var(--font-family-2);
  font-size: 24px;
  font-weight: 700;
  margin: 1.5rem 0 1.5rem 0;
}

.testimonial-author {
  font-family: var(--font-family-1);
  font-size: 18px;
  color: var(--neutral700);
}

/*Footer*/

footer {
  grid-column: 1/ -1;
  grid-row: 3;
  background-color: var(--neutral900);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 3rem 1rem 1rem 1rem;
}

.call-to-action-title {
  font-family: var(--font-family-2);
  font-size: 30px;
  color: var(--neutral0);
  text-align: center;
}

.footer-review-membership-btn {
  color: var(--neutral0);
  border: 2px solid var(--neutral0);
}

.copyright-paragraph {
  font-family: var(--font-family-2);
  font-size: 14px;
  text-align: center;
  color: var(--neutral0);
}

.social-media-list {
  width: 40%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

/*Tablet*/

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
    gap: 1.5rem;
  }

  header,
  main {
    padding: 2rem 2rem 2rem 2rem;
  }

  .btn {
  width: 380px;
  height: 64px;
}

  /*Header*/

  .title {
    font-size: 60px;
  }

  .club-stats {
    justify-content: start;
  }

  /*Main*/

  .hero {
    height: 704px;
    background-image: url(/src/assets/images/image-hero-tablet.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /*Features section*/

  .features-title {
    font-size: 54px;
    margin-top: 4rem;
  }

  .features-img-div {
    height: 653.71px;
    background-image: url(/src/assets/images/image-read-together-tablet.webp);
  }

  /*Info Section*/
  .info-title {
    font-size: 52px;
    line-height: 4.5rem;
    margin-bottom: 2rem;
}

.info-paragraph {
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.info-img {
  height: 653.7px;
  background-image: url(/src/assets/images/image-not-average-tablet.webp);
}

/*Journey section*/

.journey-title {
  font-size: 52px;
  line-height: 4.7rem;
  margin-bottom: 4rem;
}

.journey-steps-item {
  margin: 4rem 0 4rem 0;
}

.journey-steps-paragraph {
  font-size: 18px;
  font-weight: 700;
}

/*Membership section*/
.membership-title {
  font-size: 50px;
}

.membership-option-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 4rem;
}

.membership-option-item {
  margin: 0 0.5rem 1.5rem 0.5rem;
  padding: 1rem;
}

/*Testimonal section*/

.testimonial-paragraph {
  font-size: 34px;
line-height: 2.8rem;
}

.testimonial-author {
  font-size: 20px;

}

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action-title {
  font-size: 40px;
  line-height: 3.5rem;
}

footer > hr{
    width: 100%;
}

.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-media-list {
  width: 10%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}


}

/*Desktop*/

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
  }
}
