/*Variables*/

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Martian';
  src: url('./assets/fonts/martian-mono/MartianMono-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Martian';
  src: url('./assets/fonts/martian-mono/MartianMono-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}


:root{
    --neutral900: #062630;
    --neutral700: #385159;
    --neutral200: #E6E1DF;
    --neutral100: #FAF5F3;
    --neutral0: #ffffff;

    --light-salmon500: #FEA36F;
    --light-salmon100: #FFE2D1;
    --light-salmon50: #FFF5EF;

    --gradient1: #FF9A60;
    --gradient2: #062630;

    --gradient3: #FFE2D1;
    --gradient4: #FFF5EF;

    --large-desktop: 1440px;

    --font-family-1: 'Inter', sans-serif;
    --font-family-2: 'Martian', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--neutral100);
}


/*Mobile*/

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem 1rem 1rem 1rem;
}

/*Header*/

header{
    grid-column: 1/-1;
    grid-row: 1;
}

.logo{
    margin-bottom: 1rem;
}

.title{
    font-size: 36px;
    font-family: var(--font-family-2);
    margin: 2rem 0 2rem 0;
}

.intro-paragraph{
    font-size: 20px;
    font-family: var(--font-family-1);
    color: var(--neutral700);
}

.review-membership-btn{
    width: 343px;
    height: 64px;
    border: 2px solid var(--neutral900);
    color: var(--neutral900);
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    font-family: var(--font-family-2);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0;
    text-transform: uppercase;
}

.club-stats{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.members-img{
    width: 110px;
    height: 40px;
}

.joined-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 1rem;
}

.stars-list{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

.developers-joined-paragraph{
    color: var(--neutral700);
    font-family: var(--font-family-2);
    font-size: 13px;
}


/*Main*/

main{
    grid-column: 1/-1;
    grid-row: 2;
}

.hero{
    width: 343;
    height: 384px;
    background-image: url(/src/assets/images/image-hero-mobile.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 6rem;
    border-radius: 10px;
}

/*Features section*/

.features-section{
    margin-bottom: 3rem;
}

.features-title{
    font-size: 32px;
    font-family: var(--font-family-2);
    margin-bottom: 2rem;
}

.features-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-list{
    list-style: none;
    margin-bottom: 2rem;
}

.features-item{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}

.check-img{
    margin-right: 1rem;
}

.features-paragraph{
    font-family: var(--font-family-1);
    font-size: 20px;
    
}

.features-img-div{
    width: 343px;
    height: 318.5px;
    background-image: url(/src/assets/images/image-read-together-tablet.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/*Membership section*/

.membership-section{
    grid-column: 1/ -1;
    grid-row: 3;
}



/*Testimonal section*/

.testimonials-section{
    grid-column: 1/ -1;
    grid-row: 4;
}

/*Footer*/

footer{
    grid-column: 1/ -1;
    grid-row: 5;
}

/*Tablet*/

@media (min-width:768px) {
    .container{
        grid-template-columns: repeat(8, 1fr);
        gap: 1.5rem;
    }
}

/*Desktop*/

@media (min-width: 1024px) {
    .container{
        grid-template-columns: repeat(12, 1fr); 
        gap: 2rem;
    }
}